<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Testing Suite">
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="PunchIn Tests">
        <classes>
            <class name="tests.PunchInTest"/>
        </classes>
    </test>
    <test name="Add Customer Tests">
        <classes>
            <class name="tests.AddCustomerTest"/>
        </classes>
    </test>
</suite>
